<!doctype html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Congratulations | Cloud Run</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font" />
<link th:href="@{img/cloud-run-32-color.png}" rel="icon" type="image/png" />
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css" />
</head>

<body>
  <p th:text="|Hello, ${name}!|" />
</body>
</html>